html, body {
    height: 100%; /* Full viewport height */
    margin: 0;
    font-family: "Roboto Slab", serif;
    background-color: #E3F6FA;
  }

  button {
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.modalimg{width:60%}
nav{background-color: #A1C8F0;
    display: flex;
    justify-content: space-around;
    padding: .5%;
}
.competencies{color: #34113F}
.projects{color: #34113F}
li{margin: 10px 0;}
.lista{font-size: 1.3em;}
.lista li{margin-bottom: 40px}
nav a{color: #5B6A79;
font-size: 1.5em;
text-decoration: none;}



nav a:hover{
    text-decoration: underline;
}


.factsetlogobig, .factsetlogosmall, .tensorlogobig, .tensorlogosmall, .AfricaImg, .BarbadosImg, .JapanImg:hover{cursor: pointer;}
.accomp{font-family: "Montserrat", sans-serif;}
.comp{font-family: "Oxygen", sans-serif;}
.triplist{font-family: "Libre Franklin", sans-serif;
    color: #055040;}
.africacontent, .carribeancontent, .japancontent{color: #055040;}

footer{text-align: center;}
h1, h2{color: #0F7799}
.introduction{width: 30%;
                font-size: 1.3em;}

.aboutmehead{text-align: center;
            font-size: 2em;}
.tripheader{text-align: center;
            font-size: 2em;}
.projects{background-color: #C8EEF6;
    border-top: 2px solid black;}


.divider{border-top: 2px solid black;
    width: 80%;
    margin: 0 auto;}


.projecthead{text-align: center;
    font-size: 2em;}
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: .75s;
text-align: center;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* The Close Button */
.close, .close2, .close3{
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus
 {
color: black;
text-decoration: none;
cursor: pointer;
}
@media screen and (max-width: 600px)
{
    nav
    {background-color: #A1C8F0;
        display: flex;
        justify-content: space-around;
        padding: .5%;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .indexmain{
        display: flex;
                
        flex-direction: column;
        align-items: center;
        gap: 10px;
                }

    .maintrips, .flagflex{display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;} 

    .introduction{width: 80%;
    font-size: 1.3em;}

    .accomp{width: 80%;
        font-size: 1.3em}
    
    .comp{width: 80%;
            font-size: 1.3em}
    .tensorlogobig{display: none; visibility: hidden;}
    .factsetlogobig{display: none; visibility: hidden;}
    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
                }
    .content1, .content2{text-align: center;}
    .tensorlogosmall, .factsetlogosmall{text-align: center;}

    .airplanebig{display: none; visibility: hidden;}

    .flagcontent{text-align: center;}
    .triplist{text-align: center;}
    .modalimgbig{display: none;
        visibility:hidden;}
}
@media screen and (min-width: 600px)
{
    .indexmain{display: flex;
        justify-content: space-around;
        padding-top: 5%;
        align-items: center;
        } 

        nav{background-color: #A1C8F0;
            display: flex;
            justify-content: space-around;
            padding: .5%;
        }
    
        .introduction{width: 30%;
            font-size: 1.3em;}
        
            .competencies{display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                margin-top: -3%;
                }
        .logos{display: flex;
            justify-content: space-around;
            padding-top: 5%;
            align-items: center;} 
        
        .maintrips{display: flex;
            justify-content: space-around;
            padding-top: 5%;
            align-items: center;
            margin-top: -2%;} 

        .flagflex{display: flex;
            justify-content: space-around;
            align-items: center;
            } 
        
        .triplist{width:40%;
                font-size: 1.3em}
        .content1, .content2{text-align: center;}
        .tensorlogobig, .factsetlogobig{text-align: center;}
        .factsetlogobig{margin-bottom: 20%;}
        .tensorflowcontent{margin-top: -6%;}
        .flagcontent{text-align: center;}

        
        .vl {
            background-color: black;
            height: 60%;
            flex: 0 0 2px;
            margin: 0;
            }

        
        .accomp{width: 30%;
            font-size: 1.3em;
            }
        
        .comp{width: 30%;
                font-size: 1.3em;}
        
        .tensorlogosmall{display: none;
           visibility: hidden; }
        .factsetlogosmall{display: none;
                           visibility: hidden; }
        .modalimgsmall{display: none;
                        visibility:hidden;}

        .airplanesmall{display: none; visibility: hidden;}

        
        
}

